<!DOCTYPE html>
<html>

<head>
  <style type="text/css">
    .timer {
      font-size: 3vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      margin: auto;
      align-items: center;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="timer">
      <p>
        <!-- <a href="#test">test</a><br> -->
        現在の状態：{{currentState}} <span v-if="currentState ==='act'"> {{countNow}} </span> <br>
        <span v-if="currentState != 'finish'">残り時間：{{ countDown }}</span>
        <span v-else>累積時間：<span style="color:#D9073D">{{ cumulativeTime }}</span></span> <br>
        <input type="button" value="Press! (at least once)" onclick="alert('Thanks!');" />
      </p>
    </div>
  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/locale/ja.js"></script>

<script type="text/javascript">
  var taiko = new Audio('taiko.mp3');
  var gong = new Audio('gong.mp3');

  const vm = new Vue({
    el: '#app',
    data: {
      countDown: '',
      paramsInURL: location.search.slice(1).split('&'),
      // setTime: location.hash.slice(1),
      countLeft: 3,
      currentState: 'before_start', // act, break
      timeToNextBreakpoint: NaN
    },
    computed: {
      params: function () {
        query_dict = new Object;
        for (i = 0; this.paramsInURL[i]; i++) {
          key_value = this.paramsInURL[i].split('=');
          query_dict[key_value[0]] = key_value[1];
        }
        // durationは分単位を想定
        duration_act = Number(query_dict['act']);
        duration_break = Number(query_dict['break']);
        num_repeat = Number(query_dict['repeat']);

        hour_min = query_dict['start'].split(':');
        time_start = moment().hour(Number(hour_min[0])).minutes(Number(hour_min[1])).second(0);

        return { time_start, num_repeat, duration_act, duration_break };
      },
      countNow: function () {
        return this.params.num_repeat - this.countLeft + 1;
      },
      cumulativeTime: function () {
        time_min = this.params.duration_act * this.params.num_repeat;
        // moment.utcで60分未満のdurationを"hh:mm:ss"のformatで表示すると，12:52:00のようにhh=12となる
        if (time_min < 60) {
          return moment.utc(moment.duration(time_min, 'minutes').asMilliseconds()).format("mm:ss");
        }
        else {
          return moment.utc(moment.duration(time_min, 'minutes').asMilliseconds()).format("hh:mm:ss");
        }
      },
    },
    methods: {
      refresh_counter: function () {
        // 基本的な計算の流れを，活動15分インターバル5分で活動するケースを取って説明
        // 開始時刻と現在時刻との差分がマイナス -> まだ始まっていない -> state: 開始前, breakpoint: 開始時刻
        // プラスの場合，差分を(15+5)で割った商はどのセットにいるのかを示し，余りは活動中（15以下）なのか休憩中（15より大）なのかを示す．
        // それぞれの場合に応じて，適切なstateとbreakpointを設定すればよい．
        this.timeToNextBreakpoint = this.params.time_start.clone();

        time_elapsed = moment.duration(moment().diff(this.params.time_start)).asMinutes();

        act_plus_break = this.params.duration_act + this.params.duration_break;

        // 現在のセット数（最初のセット=0）と残りセット数
        set_num = Math.floor(time_elapsed / act_plus_break);
        this.countLeft = this.params.num_repeat;

        if (set_num >= 0) {
          is_break = (time_elapsed % act_plus_break) > this.params.duration_act;

          // ケースに応じて，state，設定すべきbreakpointまでの相対時間，累積時間，残りカウントの4つを設定
          if (is_break) {
            this.currentState = 'break';
            minutes_to_next_break_point = act_plus_break * (set_num + 1);
            this.countLeft -= (set_num + 1);
          } else {
            this.currentState = 'act';
            minutes_to_next_break_point = act_plus_break * set_num + this.params.duration_act;
            this.countLeft -= set_num;
          }

          this.timeToNextBreakpoint.add(moment.duration(minutes_to_next_break_point, 'minutes'));

        }
      },
    },
  })


  vm.refresh_counter();

  id = setInterval(function () {

    const diff = vm.timeToNextBreakpoint.diff(moment());
    // [Fix] durationが一時間を超える場合，多分狂う．上のような例外処理が必要だが，面倒なので放置．
    vm.countDown = moment.utc(moment.duration(diff).asMilliseconds()).format("mm:ss");

    if (vm.countDown === '00:00') {
      switch (vm.currentState) {
        case 'before_start':
        case 'break':
          vm.timeToNextBreakpoint.add(moment.duration(vm.params.duration_act, 'minutes'));
          vm.currentState = 'act';
          taiko.play();
          break;
        case 'act':
          vm.timeToNextBreakpoint.add(moment.duration(vm.params.duration_break, 'minutes'));
          vm.currentState = 'break';
          gong.play();
          vm.countLeft--;
          break;
      }
    }
    if (vm.countLeft <= 0) {
      vm.countDown = '';
      vm.currentState = 'finish';
      clearInterval(id);
    }
  }, 500);
</script>

</html>