<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <title>ちんちらタイマー without ちんちら</title>
  <link rel="icon" href="favicon.ico">
  <style type="text/css">
    .image img {
      width: 100%;
    }

    #app {
      padding: 30px;
      height: 50vh;
      width: 30vw;
      margin: auto;
    }

    .timer {
      position: relative;
      margin: auto;
      top: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .volume-icon {
      z-index: 999;
      position: fixed;
      right: 50px;
      bottom: 50px;
      transition: 0.5s;
      opacity: 0.5;
      text-align: center;
    }

    .volume-icon:hover {
      opacity: 1;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="timer">
      <svg width="400" height="400" viewBox="0 0 400 450" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <text v-bind:fill="colorDisplay" x="200" y="40" font-size="50" text-anchor="middle" dominant-baseline="central">
          {{stateNowDisplay}}
        </text>
        <text x="200" y="250" font-size="80" v-bind:fill="colorDisplay" text-anchor="middle"
          dominant-baseline="central">
          {{ countDown }}
        </text>
        <circle v-if="currentState ==='before_start'" r="150" cy="250" cx="200" stroke-width="40" stroke="#191970"
          fill="none" />
        <circle v-else-if="currentState ==='act'" r="150" cy="250" cx="200" stroke-width="40" stroke="#006400"
          fill="none" />
        <circle v-else-if="currentState ==='break'" r="150" cy="250" cx="200" stroke-width="40" stroke="#8b0000"
          fill="none" />
        <circle v-if="currentState !='finish'" v-bind:style="classMoveCircle" r="150" cy="250" cx="200"
          stroke-width="41" stroke="#ffffff" fill="none" opacity="85%" transform="rotate(-90, 200, 250)" />
        <circle v-else r="150" cy="250" cx="200" stroke-width="40" stroke="#8b0000" fill="none" />
      </svg>
    </div>
    <div class="volume-icon" @click="toggle_mute()">
      <i v-if="isMuted" class="bi bi-volume-mute-fill" style="font-size: 84px"></i>
      <i v-else class="bi bi-volume-up-fill" style="font-size: 84px"></i>
    </div>
  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/locale/ja.js"></script>

<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/vue-ctk-date-time-picker@2.4.0/dist/vue-ctk-date-time-picker.css">
<script
  src="https://cdn.jsdelivr.net/npm/vue-ctk-date-time-picker@2.4.0/dist/vue-ctk-date-time-picker.umd.min.js"></script>

<script type="text/javascript">

  const taiko = new Audio('taiko.mp3');
  const gong = new Audio('gong.mp3');

  const vm = new Vue({
    el: '#app',
    data: {
      countDown: '',
      currentState: 'act',
      nextBreakpoint: null,
      duration_act: 25,
      duration_break: 5,
      volumes: { 'taiko': 1, 'gong': 0.1 },
      isMuted: false,
    },
    computed: {
      stateNowDisplay: function () {
        return display = this.currentState == 'act' ? '功夫' : '休憩中';
      },
      colorDisplay: function () {
        const list = { 'act': "#006400", 'break': "#8b0000" };
        return list[this.currentState];
      },
      durationCurrentState: function () {
        // 単位はsecond
        const list = { 'act': this.duration_act * 60, 'break': this.duration_break * 60 };
        return list[this.currentState];
      },
      classMoveCircle: function () {
        const initial_offset = 300 * Math.PI;
        // OPTIMIZE: moment -> "HH:mm" -> HHとmmを整数で取得，の流れは二度手間感がある
        let [min, sec] = this.countDown.split(':').map(str => parseInt(str, 10));

        // NOTE: stateの切り替えが起こるとき，transitionを0sで行わないと現stateの描画と前stateでの描画が干渉する
        // FIXME: もうちょっとスムーズに切り替えられないかなぁ
        const trans_sec = (this.countDown === "00:00") ? 0 : 1;
        // NOTE: 開始の合図と同時に円が出現するようにテコ入れ
        const offset = (this.countDown === "00:00") ? initial_offset : initial_offset * (min * 60 + sec) / this.durationCurrentState;

        return { 'stroke-dasharray': initial_offset, 'stroke-dashoffset': offset, transition: `${trans_sec}s all linear` };
      }
    },
    methods: {
      format_time: function (time_min) {
        return moment.utc(moment.duration(time_min, 'minutes').asMilliseconds()).format("mm:ss");
      },
      initialize_all: function () {
        this.initialize_currentState();
        this.initialize_nextBreakpoint();
        this.initialize_volumes();
      },
      initialize_nextBreakpoint: function () {
        const now = moment().seconds(0).milliseconds(0);
        const min = now.minutes();
        const min_target = min % 30 < 5 ? min - (min % 30) + 5 : min - (min % 30) + 30;
        // NOTE: now.minutes(60)は1時間先の時刻
        this.nextBreakpoint = now.minutes(min_target);
      },
      initialize_currentState: function () {
        this.currentState = (moment().minutes() % 30 < 5) ? 'break' : 'act';
      },
      initialize_volumes: function () {
        taiko.volume = this.volumes.taiko;
        gong.volume = this.volumes.gong;
      },
      toggle_mute: function () {
        this.isMuted = !this.isMuted;
        if (this.isMuted) {
          taiko.volume = 0;
          gong.volume = 0;
        } else {
          this.initialize_volumes();
        }
      }
    },
  })

  vm.initialize_all();

  const id = setInterval(function () {
    // clearInterval(wait_start);
    const diff = vm.nextBreakpoint.diff(moment());
    const count_down_min = moment.duration(diff).asMinutes();
    vm.countDown = vm.format_time(count_down_min);

    if (moment().add(0.5, 's').isAfter(vm.nextBreakpoint)) {
      switch (vm.currentState) {
        case 'break':
          vm.nextBreakpoint.add(moment.duration(vm.duration_act, 'minutes'));
          vm.currentState = 'act';
          taiko.play();
          break;
        case 'act':
          vm.nextBreakpoint.add(moment.duration(vm.duration_break, 'minutes'));
          vm.currentState = 'break';
          gong.play();
          break;
      }
    }
  }, 500);

</script>

</html>