<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <title>ちんちらタイマー（レスポンシブ）</title>
  <link rel="icon" href="favicon.ico">
  <style type="text/css">
    svg {
      max-height: 100%;
      max-width: 100%;
    }

    #app {
      height: 100vh;
      width: 100vw;
      margin: auto;
      user-select: none;
      font-family: 'monospace';
    }

    .timer {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .volume-icon {
      z-index: 999;
      position: absolute;
      transition: 0.5s;
      opacity: 0.5;
      text-align: center;
      justify-content: center;
    }

    .volume-icon:hover {
      opacity: 1;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="timer" @click="toggle_mute()">
      <svg viewBox="0 0 400 450" fill="none" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <text v-bind:fill="colorDisplay" x="200" y="40" font-size="50" text-anchor="middle" dominant-baseline="central">
          {{stateNowDisplay}}
        </text>
        <text x="200" y="250" font-size="80" v-bind:fill="colorDisplay" text-anchor="middle"
          dominant-baseline="central">
          {{ countDown }}
        </text>
        <circle v-if="currentState ==='before_start'" r="150" cy="250" cx="200" stroke-width="40" stroke="#191970"
          fill="none" />
        <circle v-else-if="currentState ==='act'" r="150" cy="250" cx="200" stroke-width="40" stroke="#006400"
          fill="none" />
        <circle v-else-if="currentState ==='break'" r="150" cy="250" cx="200" stroke-width="40" stroke="#8b0000"
          fill="none" />
        <circle v-if="currentState !='finish'" v-bind:style="classMoveCircle" r="150" cy="250" cx="200"
          stroke-width="41" stroke="#ffffff" fill="none" opacity="85%" transform="rotate(-90, 200, 250)" />
        <circle v-else r="150" cy="250" cx="200" stroke-width="40" stroke="#8b0000" fill="none" />
        <svg v-if="isMuted" x="170" y="280" viewBox="0 0 100 100" v-bind:fill="colorDisplay" opacity="0.5"
          class="bi bi-volume-mute-fill">
          <path
            d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06zm7.137 2.096a.5.5 0 0 1 0 .708L12.207 8l1.647 1.646a.5.5 0 0 1-.708.708L11.5 8.707l-1.646 1.647a.5.5 0 0 1-.708-.708L10.793 8 9.146 6.354a.5.5 0 1 1 .708-.708L11.5 7.293l1.646-1.647a.5.5 0 0 1 .708 0z" />
        </svg>
        <svg v-else x="170" y="280" viewBox="0 0 100 100" v-bind:fill="colorDisplay" class="bi bi-volume-up-fill">
          <path
            d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z" />
          <path
            d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z" />
          <path
            d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z" />
        </svg>

      </svg>
    </div>
  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/locale/ja.js"></script>

<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/vue-ctk-date-time-picker@2.4.0/dist/vue-ctk-date-time-picker.css">
<script
  src="https://cdn.jsdelivr.net/npm/vue-ctk-date-time-picker@2.4.0/dist/vue-ctk-date-time-picker.umd.min.js"></script>

<script type="text/javascript">

  const taiko = new Audio('taiko.mp3');
  const gong = new Audio('gong.mp3');
  taiko.volume = 0;
  gong.volume = 0;

  const vm = new Vue({
    el: '#app',
    data: {
      countDown: '',
      currentState: 'act',
      nextBreakpoint: null,
      duration_act: 25,
      duration_break: 5,
      volumes: { 'taiko': 1, 'gong': 0.1 },
      isMuted: true,
    },
    computed: {
      stateNowDisplay: function () {
        return display = this.currentState == 'act' ? 'もくもく中' : '休憩中';
      },
      colorDisplay: function () {
        const list = { 'act': "#006400", 'break': "#8b0000" };
        return list[this.currentState];
      },
      durationCurrentState: function () {
        // 単位はsecond
        const list = { 'act': this.duration_act * 60, 'break': this.duration_break * 60 };
        return list[this.currentState];
      },
      classMoveCircle: function () {
        const initial_offset = 300 * Math.PI;
        // OPTIMIZE: moment -> "HH:mm" -> HHとmmを整数で取得，の流れは二度手間感がある
        let [min, sec] = this.countDown.split(':').map(str => parseInt(str, 10));

        // NOTE: stateの切り替えが起こるとき，transitionを0sで行わないと現stateの描画と前stateでの描画が干渉する
        // FIXME: もうちょっとスムーズに切り替えられないかなぁ
        const trans_sec = (this.countDown === "00:00") ? 0 : 1;
        // NOTE: 開始の合図と同時に円が出現するようにテコ入れ
        const offset = (this.countDown === "00:00") ? initial_offset : initial_offset * (min * 60 + sec) / this.durationCurrentState;

        return { 'stroke-dasharray': initial_offset, 'stroke-dashoffset': offset, transition: `${trans_sec}s all linear` };
      }
    },
    methods: {
      format_time: function (time_min) {
        return moment.utc(moment.duration(time_min, 'minutes').asMilliseconds()).format("mm:ss");
      },
      initialize_all: function () {
        this.initialize_currentState();
        this.initialize_nextBreakpoint();
      },
      initialize_nextBreakpoint: function () {
        const now = moment().seconds(0).milliseconds(0);
        const min = now.minutes();
        const min_target = min % 30 < 5 ? min - (min % 30) + 5 : min - (min % 30) + 30;
        // NOTE: now.minutes(60)は1時間先の時刻
        this.nextBreakpoint = now.minutes(min_target);
      },
      initialize_currentState: function () {
        this.currentState = (moment().minutes() % 30 < 5) ? 'break' : 'act';
      },
      initialize_volumes: function () {
        taiko.volume = this.volumes.taiko;
        gong.volume = this.volumes.gong;
      },
      toggle_mute: function () {
        this.isMuted = !this.isMuted;
        if (this.isMuted) {
          taiko.volume = 0;
          gong.volume = 0;
        } else {
          taiko.volume = this.volumes.taiko;
          gong.volume = this.volumes.gong;
        }
      }
    },
  })

  vm.initialize_all();

  const id = setInterval(function () {
    // clearInterval(wait_start);
    const diff = vm.nextBreakpoint.diff(moment());
    const count_down_min = moment.duration(diff).asMinutes();
    vm.countDown = vm.format_time(count_down_min);

    if (moment().add(0.5, 's').isAfter(vm.nextBreakpoint)) {
      switch (vm.currentState) {
        case 'break':
          vm.nextBreakpoint.add(moment.duration(vm.duration_act, 'minutes'));
          vm.currentState = 'act';
          taiko.play();
          break;
        case 'act':
          vm.nextBreakpoint.add(moment.duration(vm.duration_break, 'minutes'));
          vm.currentState = 'break';
          gong.play();
          break;
      }
    }
  }, 500);

</script>

</html>